.wel{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: rgb(7, 7, 7);
    font-size: 30px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    margin-left: 30px;
    margin-top: 5px;
}
.nav1{
    padding-inline-end: 30px;
    padding-inline-start: 40px;
    font-size: 20px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:300;
}
@keyframes slidein {
    0% {
        margin-left: 30px;
      }
      50% {
        margin-left: 100px;
      }
      100% {
        margin-left: 30px;
      }
  }